<!DOCTYPE html>
<html>
  <head>
    <title>ImageTagging</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <main class="d-flex min-vh-100 flex-column align-items-center justify-content-md-center">
      <div class="auth-wrapper w-75">
        <%= render "shared/flash_messages" %>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
